body {
  width: 55%;
  max-width: 800px;
  margin: auto;

  margin: auto;
  background: url(fundo.jpg) center;

  font-family:'lato';
    color: hsl(0deg 0% 0%);
    line-height: 2.0
}

main{
  background: #s00000078;
  padding: 5px 40px;
margin-top: 20px;
border-radius: 10px;
}

.logo, <p></p>., .headline {
  margin: 10px 50px 20px;
  text-align: left;
}
