body {
    width: 55%;
  
    margin: auto;
    background: url(fundo.jpg.jpg) center;
  
    font-family:'lato';
      color: white;
      line-height: 2.0
  }
  
  
  
  .logo, .band-name, .headline {
    margin: 0;
    text-align: center;
  }
  